#datePanel{
    display: flex;
    justify-content: center;
    background-color: grey;
    align-items: center;
}

.ant-select{
    display: none;
}
#showDate{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white    ;
}
#switch{
    margin-left: 10px;
    margin-bottom: 3px;
}
#games{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    height: 100%;
}
#noGame{
    /* height = full screen; */
    height: 100vh;
    margin-top: 200px;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 0px;
}
#hidescore{
    font-size: 25px;
    margin-left: 10px;
}
@media screen and (max-width: 600px){
    /* #datePanel{
        flex-direction: column;
        background-color: rgb(37, 37, 37);
    } */
    #noGame{
        font-size: 20px;
    }
}