#header{
    background-color: rgb(21, 24, 45);
    height: 80px;
}
#header-logo{
    float: left;
    width: 100px;
    margin: 10px;
}
#drawer{
    
}
#textarea{
    height: 200px;
}
#hideContainer{
    float: right;
    margin-top: 40px;
    margin-right: 10px;
}