#footer {

    text-align: center;
    display: flex;
    justify-content: center;
  }
#footerContainer{
    background-color: #16399a;
    color: rgb(200, 199, 199);
    bottom: 0;
    width: 100%;
    text-align: center;
    text-align: center;

    z-index: 100;
}
#igImage{
    width: 30px;

    height: 30px;
    margin-right: 5px;
}
#ig{
    display: flex;

    justify-content: center;
    text-decoration: none;
    color: white;

}
#igLink{
    text-align: center;
    width: 150px;
}